#version: '3.8'

services:
  api:
    platform: linux/x86_64
    build:
      context: .
      dockerfile: ./dev.dockerfile
    container_name: tutorias-api
    ports:
      - "3000:3000" # Mapeo de puertos del contenedor a la maquina host
    volumes:
      - .:/api # Volumen para persistir los cambios en el código
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_NAME}
      # postgresql://[usuario]:[contraseña]@[nombre de servicio de la base de datos]:[puerto]/[nombre de la base de datos]

  postgres:
    image: postgres:latest
    environment: # variables de entorno para la base de datos
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data # Acá se persiste la información de la DB
    ports:
      - "${DB_PORT}:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "un.mail@example.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes: # Volumenes para persistir la información de la base de datos y pgadmin
  postgres-data:
  pgadmin-data: